body {
	background-image: url('https://images.unsplash.com/photo-1573487482166-09cd477f7b3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1124&q=80');
	background-repeat: no-repeat;
	background-size:cover;
	background-color:black;
	font-family: calibri;
	font-size: 20px;
}

.booth {
	width:400px;
	background-color: black;
	border:10px solid #ddd;
	margin:0 auto;
}

.booth-capture-button {
	display:block;
	margin:10px 0;
	padding: 10px 20px;
	background-color: white;
	color: red;
	text-align: center;
	text-decoration:none;
}

.menu_bar {
	margin-top: 60px;
	background-color: #0F0C01;
	text-align: center;
	opacity: 0.9;
	height: 75px;
}

#canvas {
	display:none;
}