body {
	background-image: url('https://thumbs.dreamstime.com/b/concept-anxiety-feeling-anxious-nervousness-due-to-stress-imminent-death-psychological-paranoia-as-161098186.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	background-color:black;
	font-family: calibri;
	font-size: 20px;
}

.booth {
	width:400px;
	background-color: black;
	border:10px solid #ddd;
	margin:0 auto;
}

.booth-capture-button {
	display:block;
	margin:10px 0;
	padding: 10px 20px;
	background-color: white;
	color: red;
	text-align: center;
	text-decoration:none;
}

.menu_bar {
	margin-top: 60px;
	background-color: #0F0C01;
	text-align: center;
	opacity: 0.9;
	height: 75px;
}

/* #canvas {
	display:none;
} */